.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.book-icon {
  font-size: 3rem;
  color: #a2a2a2;
}

.dropdown-container {
  position: relative;
  font-size: 1rem;
  //   background-color: red;
  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.font-names {
  position: absolute;
  top: 150%;
  right: 10%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-width: 8rem;
  display: none;
  overflow: hidden;
  z-index: 999;
  background-color: white;

  &.active {
    display: block;
  }
  & li {
    padding: 0.5rem 0 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: rgba(164, 69, 237, 0.2);
    }
  }

  .sans-serif {
    font-family: sans-serif;
  }
  .serif {
    font-family: serif;
  }
  .mono {
    font-family: monospace;
  }
}

.dark-font-names {
  background: #16181a;
  color: white;
  box-shadow: 0 0 4px 4px rgba(#a445ed, 0.2);
}

.chevron-btn {
  margin-left: 1rem;
  color: #a445ed;
  font-size: 1.1rem;
}

.toggle {
  opacity: 0;
  position: absolute;
  top: -9000px;
  left: -9000px;
}

.theme-label {
  background-color: #757575;
  width: 2.66rem;
  height: 1.33rem;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}

.theme-label::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  top: 50%;
  left: 10%;

  // right: 50%;
  transform: translateY(-50%);
  transition: left 100ms ease-in-out;
}

.toggle:checked + .theme-label::after {
  // right: 10%;
  left: 50%;
}

.toggle:checked + .theme-label {
  background-color: #a445ed;
}

.theme-switcher {
  display: flex;
  align-items: baseline;
}

.moon {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.vertical-seprator {
  background-color: #dadce3;
  width: 1px;
  height: 35px;
}

.current-font {
  font-size: 1.2rem;
  font-weight: 500;
}
