.input-container {
  position: relative;
  margin-bottom: 3rem;
}

.search {
  width: 100%;
  display: block;
  padding: 1.5rem;
  border-radius: 8px;
  border: none;
  background-color: #f4f4f4;
  font-size: clamp(14px, 1.7vmax, 18px);
  color: #57585e;

  &:focus {
    outline: 1px solid #a445ed;
  }
}

.dark-search {
  background-color: #232326;
  color: #fff;
}

.search-icon {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #a445ed;
  margin-right: 1.5rem;
}

.error {
  position: absolute;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  color: rgb(241, 104, 104);
}
